backend/data/ocean_data.csv filter=lfs diff=lfs merge=lfs -text
backend/ocean_dummy_dataset.csv filter=lfs diff=lfs merge=lfs -text
backend/ocean_temperature_model.pkl filter=lfs diff=lfs merge=lfs -text
